<h1 class="text-center mt-4">List of Article</h1>
  
<div class="row justify-content-end">
  <div class="col-6 pt-4">
    <%= form_tag articles_path, method: :get do %>  
      <div class="form-group row ">
        <span class="mb-1">Search by Title or Body: </span><%= text_field_tag :search, params[:search], class: "form-control col-10" %>       
        <div class="col-2">
          <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'articles' %>  
