* {
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
}

.heading-title{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: maroon;
}

.article{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

.btn-max{
	width: 100%;
}

