<footer id="sticky-footer" class="py-4 bg-dark text-white">
	<div class="container text-center">
		<small>Copyright &copy; <%= link_to "Faiz Alam", "https://github.com/mfaiza", class: "text-white" %></small>
	</div>
</footer>